<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lantern.relay</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{LANTERN_BIN}}/lantern</string>
        <string>relay</string>
        <string>--machine</string>
        <string>{{HOSTNAME}}</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{LANTERN_LOGS}}/relay.log</string>
    <key>StandardErrorPath</key>
    <string>{{LANTERN_LOGS}}/relay.error.log</string>
    <key>WorkingDirectory</key>
    <string>{{LANTERN_HOME}}</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin:{{LANTERN_BIN}}</string>
    </dict>
</dict>
</plist>
